---
import { URL_BASE } from "@/config";

interface Props{
  align?: string;
}

let {align} = Astro.props;
align = align || 'justify-end';
---

<section>
  <div class=`flex flex-col flex-wrap md:flex-row gap-8 p-4 lg:p-8 ${align} max-w-7xl mx-auto lg:items-end items-center`>
    <img class="h-20 mb-3" src={`${URL_BASE}/img/logos/mia.webp`} alt="Logo Mia">
    <img class="h-20 mb-2.5" src={`${URL_BASE}/img/logos/mia20.webp`} alt="Logo Mia 20">
    <img class="h-[4.5rem] mb-2" src={`${URL_BASE}/img/logos/bellaface.webp`} alt="Logo Bellaface">
    <img class="h-[4.5rem] mb-2" src={`${URL_BASE}/img/logos/bellaface20.webp`} alt="Logo bellaface 20">
  </div>
</section>